@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Permanent Marker', cursive;
  user-select: none;
}

@layer transition {
  .transition {
    transition: all 0.3s ease-in-out;
  }
}